/*Structures*/

body{
    margin: 0px;
    background-color: brown;
}

/*Header*/

header{
    width: 100%;
    height: 50px;
}

/*Divs*/

#mainDiv{
    margin-top: 50px;
    margin-left: 400px;
}

#inpt{
    visibility: hidden;
}

#res{
    width:146px;
    height:35px;
    position: relative;
    bottom:65px;
    left:155px;
    padding-left: 5px;
    padding-top: 15px;
    background-color: white;
    border:0px solid black;
    margin-left: 140px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Forms & Form Elements*/

#form1{
    display: inline;
}

#form2{
    display: inline;
    margin-left: 50px;
}

#sel1{
    width:150px;
    height:50px;
}

#sel2{
    width:150px;
    height:50px;
}

#opt{
    background-color: white;
    color: black;
}

#optt{
    background-color: white;
    color: black;
}

#inp1{
    width:142px;
    height:50px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Buttons*/

#clearBtn{
    position: relative;
    right:32px;
    width: 23px;
    height:15px;
    text-align: center;
    font-size: 10px;
}

/*Headings*/

#h11{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
}

#h12{
    display: inline;
    margin-left: 40px;
    color: white;
}

/*Links*/

#more{
    color: wheat;
    margin-left: 600px;
    position: relative;
    top: 200px;
    font-size: 20px;
    text-decoration: underline;
}


/*STYLESHEET PAGE BY FANUEL AMARE*/